.title{
    font-size: 60px;
    color: black;
}
.carrito{
    background-size: auto;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    
    
}

.table{
   
    background-size: 80%;
    font-size: 50px;
    margin: 56px 0px;
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.main-header{
    margin: 56px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.clothescontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 85px;
    column-gap: 20px;
}

table {
    width: 100%;
 }
 th, td {
    width: 25%;
    font-size: 35px;
 }
 .button2 {
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: #b04f53;
    border-color: #3e5264;
    margin: 30px 0px;
    border: 1px solid rgb(206, 212, 218);
    color: white;
    border-radius: 10px;
}
.button1 {
    width: 100px;
    height: 50px;
    font-size: 30px;
    background-color: #5fb04f;
    border-color: #3e5264;
    margin: 30px 0px;
    border: 1px solid rgb(206, 212, 218);
    color: white;
    border-radius: 10px;
}