<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <div class="signupFrm">
        <form action="" class="form" method="post">
          <h1 class="title">Inicio de Sesion</h1>
    
            {% csrf_token %}
            {{form}}
          <div class="inputContainer">
            </div>
    
          <div class="inputContainer">
            </div>
    
          <input type="submit" class="submitBtn" value="Inicia">
          <div class="login">
            <h4 >Aun no estas registrado?<a href="/registration/registro">   Registrate</a></h4>
          </div>
        </form>
      </div>
    
    </div>
    
</body>
</html>